body {background-color: var(--dark-blue-02);}

.councils-container {
  margin-top: 168px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 86px;
}

.councils-container .main-button {
  margin-top: 0;
}
.councils-container h1 {font-size: 40px;}

.councils-container p {
  margin-bottom: 164px;
  color: white;
}

.councils-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 1235px;
  gap: 8%;
}

.councils-card {
  width: 375px;
  border: 1px solid #E4F3FF;
  margin-bottom: 100px;
  padding: 16px;
  
}

.councils-card-content::before {
  content: "";
  background-color: var(--light-blue-01);
  width: 80%;
  height: 40px;
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
  transition: all ease-in-out 200ms;
}

.councils-card-content {
  position: relative;
  border: none;
  background-color: var(--light-blue-01);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px;
  cursor: pointer;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}

.councils-card-content:hover {
  transform: translateY(-16px);
}

.councils-card-content::before:hover {
  transform: translateY(-16px);
}

.councils-card img{
  width: 100%;
}

.councils-card p {
  color: var(--dark-blue-03);
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0;
}

.council-detail {
  background-color: var(--light-blue-01);
  position: absolute;
  top: 0;
  max-width: 1200px;
  height: 100%;
  visibility:hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.council-detail p {
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 1rem;
  color: var(--bs-body-color);
}

.council-detail h2 {
  font-size: 40px;
  font-family: 'shandora_demoregular', serif;
}

.council-img {
  max-width: 204px;
  margin: auto;
}

.council-detail.show {
  visibility: visible;
  opacity: 1;
}