form {
  text-align: left;
}

fieldset {
  width: 100%;
}

input,textarea,select{
  border: 1px solid #EAC497 !important;
  border-radius: 0 !important;
}

legend {
  font-family:  'EB Garamond', serif;
  color: var(--light-blue-02);
  font-weight: 600;
}

textarea {
  min-height: 5rem !important;
}

.form-body{
  background-color: var(--dark-blue-02);
}

.form-wrapper{
  margin-top: 132px;
}


.disclaimer {
  color: var(--light-blue-02);
  font-size: 16px;
  white-space: pre-line;
}

.alert-position {
  position: fixed;
  bottom: 18px;
  right: 32px;
}

@media only screen and (max-width: 534px) {
    .form-floating>textarea:focus, .form-floating>textarea:not(:placeholder-shown) {
    padding-top: 3rem !important;
    padding-bottom: 0.625rem;
}
}