/*NAVBAR*/


.navbar .nav-item .nav-link{
	font-family:  'EB Garamond', serif;
	font-size: 18px;
	font-weight: 400;
	color: #0D1D23 !important;
	opacity: 60%;
	margin-right: 24px;
	transition: all ease-in-out 200ms;
}

.navbar .nav-item .nav-link:hover {
	opacity: 80% !important;
}

.dropdown-item.active {
	opacity: 100% !important;
	font-weight: 600 !important;
	background-color: #ffffff !important;
}

#navbar {
	transition: 0.8s;
	background-color: var(--light-blue-01) !important;
	opacity: 1;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	padding: 16px 0px;
}

.identity{
 	font-family: 'shandora_demoregular';
	font-size: 20px;
	color: #0D1D23;
	margin-bottom: 0px;
}

.navbar-nav>li.nav-item.active>a.nav-link {opacity: 100% !important;font-weight: 600;}
.logo{width: 32px;}
.line{margin-right:12px; margin-left: 12px; opacity: 100%}

.home-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.home-link:hover {
	text-decoration: none;
}

.home-link p{
	display: inline;
}
/*NAVBAR END*/