/*NAVBAR*/


.navbar .nav-item a{
	font-family:  'EB Garamond', serif;
	font-size: 18px;
	font-weight: 400;
	color: #0D1D23;
	opacity: 60%;
	margin-right: 24px;
}

.navbar .dropdown .dropdown-menu a{
	font-family:  'EB Garamond', serif;
	font-size: 18px;
	font-weight: 400;
	color: #0D1D23 !important;
	opacity: 60%;
}

.dropdown-item.active {
	opacity: 100% !important;
	font-weight: 600 !important;
	background-color: #ffffff !important;
}

#navbar {
	transition: 0.8s;
	background-color: #FDF6F0;
	opacity: 1;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	padding: 16px 0px;
}

.navbarev {
	transition: 0.3s;
	background-color: #EDF5E0 !important;
	opacity: 1;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}
.identity{
 	font-family: 'shandora_demoregular';
	font-size: 20px;
	color: #0D1D23;
	margin-bottom: 0px;
}


@media screen and (max-width: 575.98px) {
	nav {background-color: #FFBE00;}
	.identity {opacity: 1}
}

.navbar-nav>li.nav-item.active>a.nav-link {opacity: 100% !important;font-weight: 600;}
.logo{width: 32px;}
.line{margin-right:12px; margin-left: 12px; opacity: 100%}
.navbar .nav-item a:hover {opacity: 100%;}
.eventnav a {color: #0D1D23 !important;}

.home-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.home-link:hover {
	text-decoration: none;
}

.home-link p{
	display: inline;
}
/*NAVBAR END*/