@import url("./navbar.css");
@import url("./form.css");
@import url("./countdown.css");
html {
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
	}

body {
	margin: 0;
	padding: 0;
}

:root {
	--light-blue-01: #E4F3FF;
	--light-blue-02: #B0D6F5;
	--light-blue-03: #64C2F4;
	--dark-blue-01: #0487E2;
	--dark-blue-02: #081217;
}

@font-face {
    font-family: 'shandora_demoregular';
    src: url('../font/shandora_demo-webfont.woff2') format('woff2'),
         url('../font/shandora_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-button {
	color: #0D1D23;
	padding: 14px 32px;
	background-color: var(--light-blue-03);
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	font-size: 20px;
	margin-top: 48px;
	border-radius: 0;	
	transition: ease-in-out 0.3s;
	border: 0;
}

.main-button:hover {background-color: var(--dark-blue-01);}

.wrapper {
	background-color: var(--dark-blue-02);
}

/*HOME*/
/* hero section */
.hero {
	padding-top: 168px;
	padding-bottom: 100px;
	background: rgb(9,41,52);
	background: linear-gradient(0deg, rgba(9,41,52,1) 0%, rgba(9,41,52,0.7628093473717612) 43%, rgba(9,41,52,0.4182715322457108) 100%);
}

h1 {
	font-weight: 600 !important;
	font-family: 'shandora_demoregular';
	color: var(--light-blue-03);
	font-size: 52px !important;
}

.hero h2 {
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	color: #EDF5E0;
	font-size: 32px;
	line-height: 125%;
}

h3 {font-size: 32px !important;}
h4 {font-size: 24px !important;}
h5 {font-size: 16px !important;}

.hero p { 
	font-family:  'EB Garamond', serif;
	font-weight: 300;
	color: var(--light-blue-02);
	font-size: 24px;
	line-height: 150%;
}

.hero h3 {
	font-weight: 400;
	font-family: 'shandora_demoregular';
	color: white;
}

.hero .desc {margin-top: 48px;}

/* blue line */
.separator::before {
	content: "";
	width: 1px;
	display: block;
	background-color: var(--light-blue-03);
	height: 100%;
}
footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	background-color: #333;
	color: #fff;
	padding-top: 38px;
}

footer p {font-size: 14px}

