@import url("./navbar.css");
@import url("./form.css");
@import url("./countdown.css");
@import url("./grandTheme.css");
@import url("./footer.css");
@import url("./councils.css");
@import url("./blueFooter.css");
@import url("./contact.css");
:root {
	--light-blue-01: #E4F3FF;
	--light-blue-02: #B0D6F5;
	--light-blue-03: #64C2F4;
	--dark-blue-01: #0487E2;
	--dark-blue-02: #081217;
	--dark-blue-03: #1452B2;
	--orange-01: #D89F5C;
	--light-yellow: #FEFCC4;
}

html {
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
	}

.home-container {
	background-color: var(--dark-blue-02);
}

body {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'shandora_demoregular';
    src: url('../font/shandora_demo-webfont.woff2') format('woff2'),
         url('../font/shandora_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-button {
	color: #0D1D23;
	padding: 14px 32px;
	background-color: var(--light-blue-03);
	font-family: 'EB Garamond', serif;
	font-weight: 700;
	font-size: 20px;
	margin-top: 48px;
	border-radius: 0;	
	transition: ease-in-out 0.3s;
	width: fit-content;
}

.main-button:hover {background-color: var(--dark-blue-01);}

/*HOME*/
/* hero section */
.hero {
	padding-top: 168px;
	padding-bottom: 100px;
	background: rgb(8,18,23);
	background: linear-gradient(0deg, rgba(8,18,23,1) 0%, rgba(8,18,23,0.4) 100%);
	position: relative;
	overflow: hidden;
}

.hero::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	
	background-image: url('../assets/JFC-min.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

h1 {
	font-weight: 600 !important;
	font-family: 'shandora_demoregular', serif;
	font-size: 52px;
}

.h1-blue {
	color: var(--light-blue-03);
}

.hero h2 {
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	color: #EDF5E0;
	font-size: 32px;
	line-height: 125%;
}

.hero p {
	color: white;
}

h3 {font-size: 32px;}
h4 {font-size: 24px !important;}
h5 {font-size: 16px !important;}

p { 
	font-family:  'EB Garamond', serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 125%;
}

h3 {
	font-weight: 400;
	font-family: 'shandora_demoregular', serif;
}

.home-container h3 {
	color: var(--light-blue-02);
}

@media only screen and (max-width: 770px) {
	.hero p {
		font-size: 16px
	}
	.hero h3 {
		font-size: 24px
	}
}

/* blue line */
.separator::before {
	content: "";
	width: 1px;
	display: block;
	background-color: var(--light-blue-03);
	height: 100%;
}

/* documentation */

.documentation {
	padding-top: 168px;
	position: relative;
}

.documentation-width-limiter {
	max-width: 1600px;
	margin: auto;
}

.documentation .image1{
	position: absolute;
	top: -120px;
	left: 0;
	z-index: -1;
}

.documentation p {
	line-height: 1.6;
	text-align: justify;
	color: white;
}

#aftermovie {
	aspect-ratio: 16/9;
	width: 100%;
	border: 3px solid white;
}


/*slider*/
.docs_slider {
	overflow-x: hidden;
}

		.docs_slider ul {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		  display: flex;
			gap: 24px;
			width: calc(182px * 20);
			animation: mymove 30s linear infinite;
		}

		.docs_slider ul li {
		  display: block;
		}

		.docs_slider ul li img {
		  width: 192px;
			height: 128px;
			border: 3px solid white;
		}
		
		/* Standard syntax */

		@keyframes mymove {
		  0%    { transform: translateX(0); }
		  100%  { transform: translateX(calc(10* -182px + 10 * -24px)); }
		}

/* council */
.council .image4{
	position: absolute;
	top: 2400px;
	left: 0;
	z-index: -1;
}
.council h3{font-size: 40px;}
.council p{
	font-family:  'EB Garamond', serif;
	font-weight: 300;
	font-size: 24px;
	color: white;
}

.council .image5{
	position: absolute;
	top: 2850px;
	left: 0;
	z-index: -1;
}

/* FAQ */

.faq p{
	font-family:  'EB Garamond', serif;
	font-weight: 300;
	font-size: 24px;
	color: white;
}

.faq h3{font-size: 40px;}

/* ACCORDION */
.accordion-body {
	background-color: var(--light-blue-01);
	color: black;
	font-family:  'EB Garamond', serif;
}

.accordion button { 
	font-family:  'EB Garamond', serif;
	font-weight: 500;
	font-size: 20px;
}

.accordion-item {
	margin: 24px auto 24px auto;
	max-width: 1300px;
	background-color: var(--dark-blue-02);
	border: 0px;
}
.accordion-button {
	padding: 24px !important;
	background-color:var(--light-blue-01);
}

@media (max-width: 1300px) {
	.accordion-item {margin: 24px 18px;}
}


/* Sponsors */

.sponsor h3{font-size: 40px;}

.sponsorwrap {
	width:100vw;
	align-items:center;
	display: flex;
	margin:0 auto 0 auto;
	max-width:1200px;
	justify-content: center;
}

.sponsorwrap li {
	position:relative;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 24px;
	flex: 1;
}

.sponsorwrap li img {
	width: 100%;
}

  @media (max-width: 1000px) {
	.sponsorwrap {
	 	flex-direction: column;
		
	}
  }
  
  @media (max-width: 1000px) {
	.sponsorwrap li {margin-bottom: 24PX;}
  }

.contactperson {
	color: var(--light-blue-02) !important;
	font-weight: 300 !important;
}

.collab p {
	color: white;
	margin-bottom: 8px;
	font-weight: 600;
}


.wrap {
  margin:auto;
  width:100%;
  display:flex;
  align-items:center;
	justify-content: center;
  max-width:1200px;
	flex-wrap: wrap;
}

.tile {
  width:280px;
  height:380px;
  margin:10px;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  
}
.tile img{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}

.tile .text{
/*   z-index:99; */
  position:absolute;
  padding:20px;
  height:calc(100%);
}

.tile h4{
  font-family: 'shandora_demoregular', serif;
  color: var(--light-blue-02);
  margin:20px 0 0 0;
  transform: translateX(200px);
}

.tile p{
  font-size: 20px;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile h5{
	font-family: 'EB Garamond', serif;
	color: #EDF5E0;
	font-weight:300;
	line-height: 25px;
  /*   opacity:0; */
	transform: translateY(100px);
	transition-delay: 0.2s;
	text-align: center;
  }

.animate-text{
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.tile:hover{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}

.tile:hover img {opacity: 0.2;}

.tile:hover .animate-text {
  transform:translateX(0);
  opacity:1;
}

@media (max-width: 1200px) {
  .wrap {
		gap: 13%;
  }
}